# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
ios/Flutter/.last_build_id

# Obsolete files
*.lock
*.log

# Web related
lib/generated_plugin_registrant.dart

# Android related
**/android/local.properties
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS related
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/build/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json

# macOS related
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/
**/macos/.symlinks/
**/macos/build/
**/macos/Flutter/ephemeral/

# Windows related
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake
**/windows/ephemeral/

# Linux related
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake
**/linux/ephemeral/

# VS Code related
.vscode/
.idea/

# Miscellaneous
*.iml
*.tmp
*.swp
.DS_Store